html {
  font-size: 100%;
}
body {
  background-color: #f08080;
}



/* ---------------HEADER----------------- */
h1 {
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  color: white;
  font-size: 4em;
}


/* --------------NAVIGATION BAR------------------ */
.navigation-bar {
  justify-content: center;
  font-family: "Amatic SC", cursive;
  color: green;
  list-style: none;
  font-size: 1.5em;
}

.navigation-bar a{
  font-weight: bold;
  color:white;
  padding: 10px 80px ;
}

.navigation-bar a:hover{
  color:#f08080 !important;

}

.nav-item{
    border: 0.088em solid white;
    margin: 5px;
}

.nav-item:hover{
  background-color:white;

}

/* --------------PARAGRAPHS:ABOUT ME/HOUSING COORDINATOR/PROGRAM SPECIALIST----------- */
.summary {
    text-align: left;
    font-family: "Amatic SC", cursive;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 2px 0 10px;
  } 

/* --------------ALL H2 HEADINGS-------------- */
h2 {
  text-align: left;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Oleo Script Swash Caps", cursive;
}

/* -----------PADDING FOR ALL SECTIONS-------------------- */
h1,
#about,
#experience,
#skills,
#form-messages,
#messages, #projects{
  padding: 5px 10px;  
  width: 100%;
}
/* --------------ABOUT ME-------------------- */

/* align the text and change the background/ text color of the about me section */
#about {
  background-color: white;
  color: #f08080;
}


.aboutme-summary {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* ----------EXPERIENCE SECTION------------- */

/* experience section has an ID:experience (North County Lifeline) will have the following: */
#experience {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* putting a border on North County Lifeline to distinguish it from the paragraph on top */
h3 {
  text-align: center;
  border: 0.063em solid white;
  font-size: 1.8em;
  line-height: 1em;
}

/*titles:housing coordinator and program specialist font size,*/
.job-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 20px;
}

/* the job descriptions bullet points */
.duties {
  font-size: 1;
  line-height: 1.5em;
  border: 1px solid white;
  padding-right:1em;
}

/* Wrapped the experience section in a <div> and created a felx container in order to align the items*/
/* .flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
} */


/* li elements using styled blocks of different color */
.description {
  background-color: #f6989a;
}


/* -----------SKILLS SECTION----------------- */

/* skills section. background skills font amd color. Size already set in h2 selector */
#skills {
  display: inline-flex;
  background-color: white;
  font-family: "Amatic SC", cursive;
  color: #f08080;
}

#skills li {
  display: inline-flex;
  list-style:none;
  font-size:1.8em;
  border: 0.088em solid #f08080;
  margin: 20px;
  padding: 0px 50px;
}

/* When you hover over the welcome it will enlarge */
#skills li:hover {
  top: 0;
  left: 0;
  font-size: 2.5em;
}


/* -------------------PROJECTS SECTION------------------ */
#projects {
  font-family: "Amatic SC", cursive;
  color: white;
  padding: 1em;
  margin-top: 2em;
  border: 0.063em solid white;
}

#projects li {
  font-size: 1.3em;
}

#projects li {
  box-shadow: inset 0 0 0 0 #ef6565;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#projects li:hover {
  box-shadow: inset 250px 0 0 0 white;
}

/* ---------CONNECT SECTION-------------------- */

#connect {
  font-family: "Amatic SC", cursive;
  color: white;
  padding: 1em;
}
/* font size and alignment of social media:github and email */
.social {
  text-align: center;
  font-size: 1.3em;
}

/* make sociel media bigger when we hover over it. */
.social:hover {
  top: 0;
  left: 0;
  font-size: 2em;
}


/* --------LEAVE A MESSAGE SECTION--------------- */

/* padding, color, and font for the leave a message form section */
#form-messages {
  background-color: white;
  text-align: center;
  font-family: "Amatic SC", cursive;
  padding: 2em;
  color: #f08080;
}

/* changing the font size of all the labels on the form.color*/
label {
  font-size: 2em;
  line-height: 1.5em;
}

/* editing the inputs within the form */
input {
  color: #f08080;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  border-radius: 0.5em;
  border-color: #f08080;
}
/* editing the textarea (message:) within the form */
textarea {
  color: #f08080;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  border-radius: 0.5em;
  border-color: #f08080;
}

/* form will wrap when screen becomes smaller */
.form-wrap {
    display:flex;
    flex-wrap:wrap;
}

/*submit button */
#submit {
  background-color: #f08080;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  color: white;
  padding: 14px 30px;
}

/* submit button */
#submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.input{
  width:50%;
}


/*----------------------MESSAGES SECTION--------------------- */
#messages {
  text-align: left;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  color: white;
}

/* remove button */
.removeButton button {
  background-color: white;
  font-family: "Amatic SC", cursive;
  font-size: 0.8em;
  color: #f08080;
  padding: 1px 10px;
}

/* remove button hover */
.removeButton button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------FOOTER-------------------- */

footer {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  color: white;
}

/* ------------------MEDIA QUERIES--------------- */

  /* ensuring that the job section will wrap when then the screen is smaller */
@media screen and (min-width:300px)and( max-width: 992px) and (orientation: portrait) {
    .duties {
      width: 50%;
      display: flex;
     flex-wrap: wrap;
    }
  }

/* navigation bar media query*/
@media (min-width:1025px) {
    .navigation-bar {
        display:flex;
        flex-direction:row;
 }
} 


@media (min-width:1025px) {
  #skills li {
    display:flex;
    flex-direction: column;
  }
}